.clear
.footer
  .footer__content
    .footer__left
      %ul.col-md-4.col-xs-12
        %p モノカブについて
        %li プライバシーポリシー
        %li 利用規約
        %li 会社概要
        %li 法令遵守と犯罪抑制のために
        %li 採用情報

      %ul.col-md-4.col-xs-12
        %p モノカブを見る
        %li test
        %li test
        %li test

      %ul.col-md-4.col-xs-12
        %p test
        %li test
        %li test
        %li test
        %li test
    .footer__bottom
      %h4 CopyRight Monokabu©︎
      %p
