.clear
.footer
  .footer__content
    .footer__left.clearfix
      %ul
        %p モノカブについて
        %li プライバシーポリシー
        %li 利用規約
        %li 会社概要
        %li 法令遵守と犯罪抑制のために
        %li 採用情報
    .footer__middle.clearfix
      %ul
        %p モノカブを見る
        %li test
        %li test
        %li test
    .footer__right.clearfix
      %ul
        %p test
        %li test
        %li test
        %li test
        %li test
    .footer__bottom
      %h4 CopyRight Monokabu©︎
      %p
