@media screen and(min-width: 970px){
  .navbar {
    width: 100%;
    height: 80px;
    background-color: white;
    position: fixed;
    z-index: 100;
    border-bottom: 1px solid #EEEEEE;
    &__left{
      padding: 10px 0 0 40px;
      img {
        height: 40px;
        width: 90px;
        padding-top: 18px;
        float: left;
      }
    }
    form{
      float: left;
      margin-left: 30px;
      padding-top: 15px;
      input.search{
        border: solid #AAAAAA 1px;
        width: 250px;
        background-color: white;
        border-radius: 5px;
        float: left;
        clear:both;
        padding: 3px;
        p{
          padding: 10px 20px;
          .fa{
            float: right;
            font-size: 18px;
            padding-top: 1px;
            color: gray;
          }
        }
      }
      input.submit{
        background-color: #BBBBBB;
        border: 1px solid #AAAAAA;
        padding: 0px 10px;
        margin-left: 15px;
        border-radius: 5px;
        color: white;
        font-size: 18px;
      }
      .submit{
        float: left;
        p{
          background-color: #41ad33;
          padding: 6px 10px;
          margin-left: 15px;
          border-radius: 5px;
          color: white;
          font-size: 22px;
        }
      }
    }
    &__right{
      padding-top: 15px;
      padding-right: 40px;
      float: right;
      ul#nav{
        li{
          float: left;
          ul{
            float: right;
            li{
              display: inline;
              padding-left: 10px;
              font-size: 16px;
              color: black;
            }
          }
        }
      }
      #navi {
        li.sign {
          position: relative;
          list-style: none;
          border: 1px solid orange;
          border-radius: 5px;
          background-color: orange;
          padding: 0px 10px;
          margin: 0 10px;
          a {
            display: block;
            width: 110px;
            height: 40px;
            text-align: center;
            color: #000;
            font-size: 14px;
            line-height: 2.8;
            background: orange;
            border-radius: 5px;
            transition: 0.5s;
            &:hover {
              color: #fff;
              background: orange;
            }
          }
          ul {
            /*å­*/
            top: 26px;
            right: 3px;
            position: absolute;
            li {
              overflow: hidden;
              height: 0;
              transition: 0.2s;
              a {
                border-top: 1px solid #fff;
              }
            }
          }
          &:hover > ul > li {
            overflow: visible;
            height: 40px;
          }
        }
        > li li:hover > a {
          background: #afc6e2;
        }
      }
    }
    nav.navbar.navbar-default.navbar-fixed-top.container{
      display: none;
    }
  }
}











@media screen and(max-width: 970px){
  .navbar {
    width: 100%;
    height: 50px;
    background-color: white;
    position: fixed;
    z-index: 100;
    border-bottom: 1px solid black;
    &__left{
      padding: 10px 40px 0 0px;
      float: right;
      display: none;
    }
    &__right{
      padding-top: 30px;
      padding-right: 40px;
      position: fixed;
      top: 0;
      display: none;
    }
    .navbar-fixed-top{
      background: orange;
      font-size: 10pt;
    }
    .navbar.navbar-default.navbar-fixed-top.container{
      /* margin-top: 100px; */
      button.navbar-toggle{
        background-color: orange;
      }
      li{
        background-color: white;
        border-bottom: 1px solid orange;
        form{
          position: fixed;
          width: 100%;
          background-color: white;
          z-index: 1000;
          height: 40px;
          margin-left: 0;
          padding-top: 0;
          input.search{
            border: solid #EEEEEE 1px;
            width: 80%;
            margin-left: 0px;
            background-color: white;
            border-radius: 0px;
            float: left;
            clear:both;
            padding: 9px;
            font-size: 15px;
            p{
              padding: 10px 20px;
              .fa{
                float: right;
                font-size: 21px;
                padding-top: 1px;
                color: gray;
              }
            }
          }
          input.submit{
            background-color: orange;
            border: 2px solid orange;
            padding: 8px 10px;
            margin-left: 0px;
            border-radius: 0px;
            width:20%;
            color: white;
            font-size: 15px;
          }
        }
      }
    }
  }
}
