.search-result{
  padding-top: 100px;
  .side-bar{
    height: 100%;
    float: left;
    padding: 50px 20px 0 20px;
    border: 2px solid black;
    margin-top: 90px;
    ul{
      font-size: 25px;
      font-family: monospace;
      font-weight: bold;
    }
    li{
      list-style-type: square;
      font-family: monospace;
      font-size: 18px;
    }
  }
  .search{
    padding:5px 0;
    width: 80%;
    float: left;
    form{
      margin: 0 0 0 50px;
    }
    input.search{
      border: solid black 1px;
      width: 500px;
      background-color: white;
      border-radius: 5px;
      float: left;
      clear:both;
    }
    input.submit{
      background-color: #41ad33;
      padding: 5px 10px;
      margin-left: 15px;
      border-radius: 5px;
      color: white;
      font-size: 15px;
    }
  }
  span.result {
    text-align: center;
    padding-bottom: 15px;
    font-family: hoge;
    font-size: 30px;
    padding-left: 270px;
  }
  .hako{
    box-sizing:  border-box;
    margin: 0 auto;
    width: 70%;
    .lineup{
      border: 1px solid black;
      float: left;
      padding: 10px 30px;
      text-align: center;
      .name-color{
        font-family: monospace;
        white-space: nowrap;
        text-align: left;
        height: 40px;
        span.name{
          font-size: 25px;
          line-height: 40px;
        }
        span.color{
          font-size: 15px;
          line-height: 45px;
          float: left;
        }
      }
      img{
        height: 96px;
        width: 134px;
        padding: 10px 20px;
      }
    }
  }
}


.clearfix:after{
  content: "";
  display: block;
  clear: both;
}
