.navbar {
  width: 100%;
  height: 100px;
  background-color: white;
  position: fixed;
  z-index: 1000;
  &__left{
    padding: 10px 0 0 40px;
    float: left;
    img {
      height: 40px;
      width: 90px;
      padding-top: 10px;
    }
  }
  &__right{
    float: right;
    padding-top: 35px;
    padding-right: 40px;
    ul{
      a:-webkit-any-link {
        color: -webkit-link;
        cursor: auto;
        text-decoration: none;
        li{
          display: inline;
          padding-left: 10px;
          font-size: 16px;
          padding: 8px 1px;
          color: black;
        }
      }
    }
  }
}

.home{
  padding-top: 100px;
  height: 400px;
  background-size: cover;
  position: relative;
  h3{
    font-size: 30px;
    text-align: center;
    padding-top: 40px;
  }
  h1{
    font-size: 50px;
    text-align: center;
    padding-top: 10px;
    font-family: 'Osaka';
  }
  .box{
    padding-top: 20px;
    padding-right: 60px;
    .search{
      border: solid black 1px;
      width: 500px;
      margin-left: 200px;
      background-color: white;
      border-radius: 5px;
      float: left;
      clear:both;
      p{
        padding: 10px 20px;
        .fa{
          float: right;
          font-size: 21px;
          padding-top: 1px;
          color: gray;
        }
      }
    }
    .submit{
      float: left;
      p{
        background-color: #41ad33;
        padding: 6px 10px;
        margin-left: 15px;
        border-radius: 5px;
        color: white;
        font-size: 22px;
      }
    }
  }
  .category{
    width: 100%;
    position: absolute;
    bottom: 0;
    .box{
      padding: 10px;
      ul{
        text-align: center;
        li{
          font-size: 26px;
          display: inline;
          padding: 25px 2px 15px;
          color: white;
          font-family: hoge;
          letter-spacing: 2px;
        }
      }
  }
}
}



.image-container{
  height:100%;
  background-color: black;
  width: 100%;
  .foto-session{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    height: 190px;
    img{
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.container-index{
  width: 90%;
  margin: auto;
  background-color: white;
  &__graph {
    width: 100%;
    .foto{
      text-align: center;
      float:left;
      width:33%;
      padding-top: 50px;
      img {
        width: 300px;
      }
      .fonts {
        text-align: left;
        padding-left: 20px;
       p {
          color: #00bbe3;
        }
        h1 {
          color: black;
          font-size: 20px;
          font-family: hoge;
        }
        h2 {
          color: red;
        }
      }
    }
  }
}
.supply-section{
  float: left;
    width: 100%;
    padding-top: 20px;
    .hako1 {
      padding-top: 50px;
      p.popular{
        font-size: 20px;
        border-bottom: solid gray 1px;
        padding-left: 80px;
      }
      .supply-section__popular{
        width: 90%;
        text-align: center;
        margin: 0 auto;
        .mono{
          text-align: center;
          float:left;
          padding-top: 50px;
          img{
            height: 96px;
            width: 134px;
            padding: 10px 20px;
          }
          .text{
            text-align: left;
            padding: 0 20px;
            p.brand{
              font-size: 18px;
            }
            p.kinds{
              font-size: 18px;
            }
            p.ask{
              font-size: 14px;
            }
            p.price{
              font-size: 34px;
              font-family: hoge;
            }
            p.sold{
              font-size: 14px;
            }
          }
        }
      }
    }
    .hako2{
      padding-top: 100px;
      p.lowest{
        font-size: 20px;
        border-bottom: solid gray 1px;
        padding-left: 80px;
      }
      .supply-section__lowest{
        width: 90%;
        margin: 0 auto;
        .mono{
          text-align: center;
          float:left;
          padding-top: 50px;
          img{
            height: 96px;
            width: 134px;
            padding: 10px 20px;
          }
          .text{
            text-align: left;
            padding: 0 20px;
            p.brand{
              font-size: 18px;
            }
            p.kinds{
              font-size: 18px;
            }
            p.ask{
              font-size: 14px;
            }
            p.price{
              font-size: 34px;
              font-family: hoge;
            }
            p.sold{
              font-size: 14px;
            }
          }
        }
      }
    }
    .hako3{
      padding-top: 50px;
      p.highest{
        font-size: 20px;
        border-bottom: solid gray 1px;
        padding-left: 80px;
      }
      .supply-section__highest{
        width: 90%;
        margin: 0 auto;
        .mono{
          text-align: center;
          float:left;
          padding-top: 50px;
          img{
            height: 96px;
            width: 134px;
            padding: 10px 20px;
          }
          .text{
            text-align: left;
            padding: 0 20px;
            p.brand{
              font-size: 18px;
            }
            p.kinds{
              font-size: 18px;
            }
            p.ask{
              font-size: 14px;
            }
            p.price{
              font-size: 34px;
              font-family: hoge;
            }
            p.sold{
              font-size: 14px;
            }
          }
        }
      }
    }
  }

.clearfix:after{
  content: "";
  display: block;
  clear: both;
}
.content {
  padding-top: 100px;
  padding: 100px 0 0 0;
  width: 100%;
  .content-top{
    padding: 20px 0 0 50px;
    h1{
      font-size: 50px;
      font-family: hoge;
    }
    img{
      width: 80%;
    }
  }
}


#payjp_checkout_box input[type=button]{
background-color: white;
}
